
@font-face {
    font-family: 'ocr-bitcoinregular';
    src: url('./ocr-bitcoin-webfont.woff2') format('woff2'),
         url('./ocr-bitcoin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
